<div class="devise">
  <div class="content">
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text"><%= render "layouts/language"   %></li>
    </ul>
    <h1><%= I18n.t "client_sign_up.welcome"%>
      <br />
      <small>
      <%= I18n.t "client_sign_up.please_fill_in"%>
      </small>
    </h1>

    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => "form-horizontal", role: "form"}) do |f| %>

      <%= devise_error_messages! %>
      <%= content_tag(:div, flash[:error], :id => "flash_error", :class => "alert alert-danger") if flash[:error] %>

      <%= content_tag(:div, flash[:notice], :id => "flash_notice", :class => "alert alert-warning") if flash[:notice] %>

      <%= content_tag(:div, flash[:alert], :id => "flash_alert", :class => "alert alert-warning") if flash[:alert] %>

      <div class="form-group">
        <%= I18n.t "client_sign_up.first_name" %>
        <span class="text-danger"> * </span>
        <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.last_name" %>
        <span class="text-danger"> * </span>
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.home_phone" %>
        <%=f.text_field :home_phone, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.cell_phone" %>
        <%=f.text_field :cell_phone, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.address" %>
        <%= f.text_field :address, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.city" %>
        <%= f.text_field :city, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.state" %>
        <%= f.select(:state, options_for_select(us_states, "IL"), {}, {:class => "form-control"} ) %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.ward" %>
        <%= f.text_field :ward, :class => "form-control" %>
        <a href="https://webapps1.cityofchicago.org/ezbuy/geoWardLookup.do" target='_blank'><i><%= I18n.t "client_sign_up.search_for_ward" %></i></a>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.zip_code" %>
        <%= f.text_field :zip_code, :class => "form-control" %>
      </div>

      <hr>

      <div class="form-group">
        <div class="checkbox-inline" %>
          <%= f.label :authorization_and_waiver do %>
            <%= f.check_box :authorization_and_waiver %>
            <span class="text-danger"> * </span>
            <%= I18n.t "client_sign_up.authorize_lucha" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-inline">
          <%= f.label :privacy_policy_authorization do %>
            <%= f.check_box :privacy_policy_authorization%>
            <span class="text-danger"> * </span>
            <%= I18n.t "client_sign_up.privacy_and_disclosure" %>            
          <% end %>
        </div>
      </div>

      <hr>

      <h1>
        <small>
          <%= I18n.t "client_sign_up.login_information" %>
        </small>
      </h1>   

      <div class="form-group">
        <%= I18n.t "client_sign_up.email" %>
        <span class="text-danger"> * </span>
        <%= f.email_field :email, :class => "form-control"  %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.password" %>
        <span class="text-danger"> * </span>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control"  %>
      </div>

      <div class="form-group">
        <%= I18n.t "client_sign_up.password_confirmation" %>
        <span class="text-danger"> * </span>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"  %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= I18n.t "client_sign_up.remember_me" %>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Sign up", :class => 'btn btn-primary' %>
        <%= I18n.t "client_sign_up.sign_up" %>
      </div>
    <% end %>

    <hr>

    <h5><%= I18n.t "client_sign_up.already_have_account" %><%= render "devise/shared/links" %></h5>

  </div>
</div>
