<table class="table table-hover">
	<tr>
		<th colspan="2"><h3><%= I18n.t "budget_assets.title" %></h3></th>
	<tr>
		<td><%= I18n.t "budget_assets.p_checking" %></td>
		<td>$<input type="text" ng-model="assets.primary_checking"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.s_checking" %></td>
		<td>$<input type="text" ng-model="assets.secondary_checking"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.savings_money_mark" %></td>
		<td>$<input type="text" ng-model="assets.savings_money_market"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.stocks" %></td>
		<td>$<input type="text" ng-model="assets.stocks_or_bonds"></td>
	</tr>
	<tr>
		<td>401K:</td>
		<td>$<input type="text" ng-model="assets.four_zero_one_k"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.home_equity" %></td>
		<td>$<input type="text" ng-model="assets.home_equity"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.value_of_prop" %></td>
		<td>$<input type="text" ng-model="assets.other_property"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.car_value" %></td>
		<td>$<input type="text" ng-model="assets.car"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_assets.other_assets" %></td>
		<td>$<input type="text" ng-model="assets.other_assets"></td>
	</tr>
</table>

<button ng-click="submitAssets(assets)"><%= I18n.t "budget_assets.update" %></button>

