<div class="form-group">
	<label><%= I18n.t "budget_debts.principal" %></label>
	<input class="form-control" type="number" ng-model="budget.principal_and_interest">
</div>
<div class="row" style="margin-bottom: 0px;">
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.prop_taxes" %></label>
			<input class="form-control" type="number" ng-model="budget.prop_tax">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.asso_fee" %></label>
			<input class="form-control" type="number" ng-model="budget.assoc_fees">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.jr_mort" %></label>
			<input class="form-control" type="number" ng-model="budget.junior_mortgage">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.min_month_cred_payment" %></label>
			<input class="form-control" type="number" ng-model="budget.min_credit_card_payment">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.stud_loan" %></label>
			<input class="form-control" type="number" ng-model="budget.student_loan">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.electic" %></label>
			<input class="form-control" type="number" ng-model="budget.electricity">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.gas" %></label>
			<input class="form-control" type="number" ng-model="budget.gas">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.H20" %></label>
			<input class="form-control" type="number" ng-model="budget.water">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.tele" %></label>
			<input class="form-control" type="number" ng-model="budget.phone">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.other_util" %></label>
			<input class="form-control" type="number" ng-model="budget.other_utilities">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.food" %></label>
			<input class="form-control" type="number" ng-model="budget.food">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.gas_car" %></label>
			<input class="form-control" type="number" ng-model="budget.gas_car_maintenance">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.child" %></label>
			<input class="form-control" type="number" ng-model="budget.child_care">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.medical" %></label>
			<input class="form-control" type="number" ng-model="budget.medical_expenses">
		</div>
	</div>
	<div class="col-md-12">
		<p><%= I18n.t "budget_debts.if_renter" %></p>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.rent" %></label>
			<input class="form-control" type="number" ng-model="budget.rent">
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label><%= I18n.t "budget_debts.rent_insurance" %></label>
			<input class="form-control" type="number" ng-model="budget.rental_insurance">
		</div>
	</div>
</div>
