<div class="form-group">
	<label><%= I18n.t "budget_income.gross_wages" %></label>
	<span class="text-danger"> * </span>
	<input class="form-control" type="text" ng-model="budget.gross_wages">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.self_employment" %></label>
	<input class="form-control" type="text" ng-model="budget.self_employment_income">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.over_time" %></label>
	<input class="form-control" type="text" ng-model="budget.overtime">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.check" %></label>
	<input class="form-control" type="text" ng-model="budget.unemployment">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.tips" %></label>
	<input class="form-control" type="text" ng-model="budget.tips_commissions_bonus">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.non_tax" %></label>
	<input class="form-control" type="text" ng-model="budget.nontaxable_social_security">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.tax_ss" %></label>
	<input class="form-control" type="text" ng-model="budget.taxable_social_security">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.renter_income" %></label>
	<input class="form-control" type="text" ng-model="budget.rental_income">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_income.other" %></label>
	<input class="form-control" type="text" ng-model="budget.other_income">
</div>
