<table class="table table-hover">
	<tr>
		<th colspan="2"><h3>Monthly Income</h3></th>
	</tr>
	<tr>
		<td>Gross Wages:</td>
		<td><input type="text" ng-model="income.gross_wages" value="<%= @budget.gross_wages %>"></td>
	</tr>
	<tr>
		<td>Self-Employment Income:</td>
		<td><input type="text" ng-model="income.self_employment_income" value="<%= @budget.self_employment_income %>"></td>
	</tr>
	<tr>
		<td>Overtime:</td>
		<td><input type="text" ng-model="income.overtime" value="<%= @budget.overtime %>"></td>
	</tr>
	<tr>
		<td>Unemployment Check:</td>
		<td><input type="text" ng-model="income.unemployment" value="<%= @budget.unemployment %>"></td>
	</tr>
	<tr>
		<td>Tips, Commision, or Bonuses:</td>
		<td><input type="text" ng-model="income.tips_commissions_bonus" value="<%= @budget.tips_commissions_bonus %>"></td>
	</tr>
	<tr>
		<td>Non-Taxable Social Secruity:</td>
		<td><input type="text" ng-model="income.nontaxable_social_security" value="<%= @budget.nontaxable_social_security %>"></td>
	</tr>
	<tr>
		<td>Taxable Social Secruity:</td>
		<td><input type="text" ng-model="income.taxable_social_security" value="<%= @budget.taxable_social_security %>"></td>
	</tr>
	<tr>
		<td>Income from Renters:</td>
		<td><input type="text" ng-model="income.rental_income" value="<%= @budget.rental_income %>"></td>
	</tr>
	<tr>
		<td>Other:</td>
		<td><input type="text" ng-model="income.other_income" value="<%= @budget.other_income %>"></td>
	</tr>
</table>

<button ng-click="submitIncome(income)">Update</button>
