<table class="table table-hover">
	<tr>
		<th colspan="2"><h3><%= I18n.t ".budget_income.title" %></h3></th>
	</tr>
	<tr>

		<td><%= I18n.t "budget_income.gross_wages" %></td>
		<td>$<input type="text" ng-model="income.gross_wages" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.self_employment" %></td>
		<td>$<input type="text" ng-model="income.self_employment_income" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.over_time" %></td>
		<td>$<input type="text" ng-model="income.overtime" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.check" %></td>
		<td>$<input type="text" ng-model="income.unemployment" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.tips" %></td>
		<td>$<input type="text" ng-model="income.tips_commissions_bonus" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.non_tax" %></td>
		<td>$<input type="text" ng-model="income.nontaxable_social_security" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.tax_ss" %></td>
		<td>$<input type="text" ng-model="income.taxable_social_security" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.renter_income" %></td>
		<td>$<input type="text" ng-model="income.rental_income" ng-change="updateSum()"></td>
	</tr>
	<tr>
		<td><%= I18n.t "budget_income.other" %></td>
		<td>$<input type="text" ng-model="income.other_income" ng-change="updateSum()"></td>
	</tr>
</table>

<button ng-click="submitData(income)"><%= I18n.t "budget_income.update" %></button>
