<h3>This sections is regarding your household income:</h3>
<div class="form-group">
	<%= label_tag :gross_wages %>
	<%= number_field_tag :gross_wages %>
</div>

<div class="form-group">
	<%= label_tag :self_employment_income %>
	<%= number_field_tag :self_employment_income %>
</div>

<div class="form-group">
	<%= label_tag :overtime %>
	<%= number_field_tag :overtime %>
</div>

<div class="form-group">
	<%= label_tag :unemployment %>
	<%= number_field_tag :unemployment %>
</div>

<div class="form-group">
	<%= label_tag :tips_commisions_bonus %>
	<%= number_field_tag :tips_commisions_bonus %>
</div>

<div class="form-group">
	<%= label_tag :nontaxable_social_security %>
	<%= number_field_tag :nontaxable_social_security %>
</div>

<div class="form-group">
	<%= label_tag :taxable_social_security %>
	<%= number_field_tag :taxable_social_security %>
</div>

<div class="form-group">
	<%= label_tag :rental_income %>
	<%= number_field_tag :rental_income %>
</div>

<div class="form-group">
	<%= label_tag :other_income %>
	<%= number_field_tag :other_income %>
</div>



<hr>



<h3>Now tell us a bit about your assets:</h3>

<div class="form-group">
	<%= label_tag :primary_checking %>
	<%= number_field_tag :primary_checking %>
</div>

<div class="form-group">
	<%= label_tag :secondary_checking %>
	<%= number_field_tag :secondary_checking %>
</div>

<div class="form-group">
	<%= label_tag :savings_money_market %>
	<%= number_field_tag :savings_money_market %>
</div>

<div class="form-group">
	<%= label_tag :stocks_or_bonds %>
	<%= number_field_tag :stocks_or_bonds %>
</div>

<div class="form-group">
	<%= label_tag :four_zero_one_k %>
	<%= number_field_tag :four_zero_one_k %>
</div>

<div class="form-group">
	<%= label_tag :home_equity %>
	<%= number_field_tag :home_equity %>
</div>

<div class="form-group">
	<%= label_tag :other_property %>
	<%= number_field_tag :other_property %>
</div>

<div class="form-group">
	<%= label_tag :car %>
	<%= number_field_tag :car %>
</div>

<div class="form-group">
	<%= label_tag :other_assets %>
	<%= number_field_tag :other_assets %>
</div>

<hr>







<h3>Now to your debts:</h3>

<div class="form-group">
	<%= label_tag :principal_and_interest %>
	<%= number_field_tag :principal_and_interest %>
</div>

<div class="form-group">
	<%= label_tag :prop_tax %>
	<%= number_field_tag :prop_tax %>
</div>

<div class="form-group">
	<%= label_tag :assoc_fees %>
	<%= number_field_tag :assoc_fees %>
</div>

<div class="form-group">
	<%= label_tag :junior_mortgage %>
	<%= number_field_tag :junior_mortgage %>
</div>

<div class="form-group">
	<%= label_tag :min_credit_card_payment %>
	<%= number_field_tag :min_credit_card_payment %>
</div>

<div class="form-group">
	<%= label_tag :student_loan %>
	<%= number_field_tag :student_loan %>
</div>

<div class="form-group">
	<%= label_tag :gas %>
	<%= number_field_tag :gas %>
</div>

<div class="form-group">
	<%= label_tag :electricity %>
	<%= number_field_tag :electricity %>
</div>

<div class="form-group">
	<%= label_tag :water %>
	<%= number_field_tag :water %>
</div>

<div class="form-group">
	<%= label_tag :phone %>
	<%= number_field_tag :phone %>
</div>

<div class="form-group">
	<%= label_tag :other_utilities %>
	<%= number_field_tag :other_utilities %>
</div>

<div class="form-group">
	<%= label_tag :food %>
	<%= number_field_tag :food %>
</div>

<div class="form-group">
	<%= label_tag :gas_car_maintenance %>
	<%= number_field_tag :gas_car_maintenance %>
</div>

<div class="form-group">
	<%= label_tag :child_care %>
	<%= number_field_tag :child_care %>
</div>

<div class="form-group">
	<%= label_tag :medical_expenses %>
	<%= number_field_tag :medical_expenses %>
</div>

<div class="form-group">
	<%= label_tag :rent %>
	<%= number_field_tag :rent %>
</div>

<div class="form-group">
	<%= label_tag :rental_insurance %>
	<%= number_field_tag :rental_insurance %>
</div>



<hr>

<h3>Your totals</h3>

<div class="form-group">
	<%= label_tag :total_monthly_debt %>
	<%= number_field_tag :total_monthly_debt %>
</div>

<div class="form-group">
	<%= label_tag :gross_monthly_income %>
	<%= number_field_tag :gross_monthly_income %>
</div>

<div class="form-group">
	<%= label_tag :debt_divided_by_income %>
	<%= number_field_tag :debt_divided_by_income %>
</div>
