<div class="form-group">
	<label><%= I18n.t "budget_assets.p_checking" %></label>
	<input class="form-control" type="text" ng-model="budget.primary_checking">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.s_checking" %></label>
	<input class="form-control" type="text" ng-model="budget.secondary_checking">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.savings_money_mark" %></label>
	<input class="form-control" type="text" ng-model="budget.savings_money_market">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.stocks" %></label>
	<input class="form-control" type="text" ng-model="budget.stocks_or_bonds">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.four_zero_one_k" %></label>
	<input class="form-control" type="text" ng-model="budget.four_zero_one_k">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.home_equity" %></label>
	<input class="form-control" type="text" ng-model="budget.home_equity">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.value_of_prop" %></label>
	<input class="form-control" type="text" ng-model="budget.other_property">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.car_value" %></label>
	<input class="form-control" type="text" ng-model="budget.car">
</div>
<div class="form-group">
	<label><%= I18n.t "budget_assets.other_assets" %></label>
	<input class="form-control" type="text" ng-model="budget.other_assets">
</div>
