	<%= best_in_place @budget, :gross_wages, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :self_employment_income, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :overtime, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :unemployment, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :tips_commisions_bonus, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :nontaxable_social_security, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :taxable_social_security, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :rental_income, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :other_income, :display_with => :number_to_currency %>



<hr>



<h3>Now tell us a bit about your assets:</h3>

	<%= best_in_place @budget, :primary_checking, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :secondary_checking, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :savings_money_market, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :stocks_or_bonds, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :four_zero_one_k, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :home_equity, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :other_property, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :car, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :other_assets, :display_with => :number_to_currency %>


<hr>


<h3>Now to your debts:</h3>

	<%= best_in_place @budget, :principal_and_interest, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :prop_tax, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :assoc_fees, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :junior_mortgage, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :min_credit_card_payment, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :student_loan, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :gas, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :electricity, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :water, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :phone, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :other_utilities, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :food, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :gas_car_maintenance, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :child_care, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :medical_expenses, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :rent, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :rental_insurance, :display_with => :number_to_currency %>



<hr>

<h3>Your totals</h3>

	<%= best_in_place @budget, :total_monthly_debt, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :gross_monthly_income, :display_with => :number_to_currency %>

	<%= best_in_place @budget, :debt_divided_by_income, :display_with => :number_to_currency %>
