<div ng-app="app">
	<div ng-controller="budgetCtrl" ng-init="init()">
		<div id="budget-alert">
			<div class="alert alert-dismissible" role="alert">
				<button type="button" class="close" ng-click="closeAlert()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p id="flashText">{{response}}</p>
			</div>
		</div>
		<h2><%= I18n.t "budget_show.title" %><%= @client.full_name %></h2>
		<p><%= I18n.t "budget_show.description" %></p>
		<hr>
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Income</h3>
						</div>
						<div class="panel-body">
							<%= render "budget_income" %>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Debts</h3>
						</div>
						<div class="panel-body">
							<%= render "budget_debts" %>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Assets</h3>
						</div>
						<div class="panel-body">
							<%= render "budget_assets" %>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">Totals</h3>
						</div>
						<div class="panel-body">
							<%= render "budget_totals" %>
						</div>
					</div>
				</div>
			</div>



		<button class="btn btn-lg btn-success" ng-click="submitData(budget)"><%= I18n.t "budget_debts.update" %></button>
	</div>
</div>
