<h1><%= I18n.t "employee_registered_clients.all_registered_clients" %></h1>
<hr>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search on this page">
</div>
<span class="counter pull-left"></span>
<table class="table table-hover results user-index">
  <thead>
    <th>#</th>
    <th><%= I18n.t "employee_registered_clients.name" %></th>
    <th><%= I18n.t "employee_registered_clients.home_phone" %></th>
    <th><%= I18n.t "employee_registered_clients.submitted_applications" %></th>
    <th><%= I18n.t "employee_registered_clients.assigned_employee" %></th>
    <th><%= I18n.t "employee_registered_clients.client_info" %></th>
    <tr class="warning no-result">
        <td colspan="6"><i class="fa fa-warning"></i> No results </td>
    </tr>
  </thead>

<% @clients.each do |client| %>
  <tbody>
    <tr>
      <td><%= client.id %></td>
      <td><%= link_to(client.full_name.titleize, client_path(client.id)) %></td>
      <td><%= number_to_phone(client.home_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></td>
      <td><%= client.client_types.to_sentence %></td>
      <td>
        <% if client.user_id %>
          <%= client.user.full_name %>
        <% elsif !client.incomplete_profile? && current_user.admin %> 
          <div class="row">
            <%= form_tag("/clients/#{client.id}/assign", method: :patch) do %>
              <div class = "col-md-8 field">
                <%= collection_select(:client, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}, :class => "form-control input-sm") %>
              </div>
              <div class="col-md-4">
                <%= hidden_field_tag :client_id, client.id %>
                <%= submit_tag "Assign", :class => "btn btn-sm btn-success" %>
              </div>
            <% end %>
          </div>
        <% elsif !client.incomplete_profile? && !current_user.admin %>
          <p class="text-warning">Awaiting assignment</p>
        <% else %>
          <p class="text-danger">Profile not complete.</p>
        <% end %>
      </td>
      <td>
        <%= link_to "View", "/clients/#{client.id}", :class => "btn btn-sm btn-primary" %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>
<hr>
<p>
  Download:
  <%= link_to "CSV", clients_path(format: "csv") %> |
  <%= link_to "Excel", clients_path(format: "xls") %>
  </div>
</p>
