<h1>Clients</h1>

<% @client.each do |client| %>
<h3><%= link_to client.full_name, client_path(client.id) %></h3>
<ul>
	<li>Address: <%= client.address %></li>
	<li>Cell Phone:<%= client.cell_phone %></li>
</ul>
<% end %>


<%= link_to "CSV", clients_path(format: "csv") %> |
<%= link_to "Excel", clients_path(format: "xls") %>

