<h1>Unassigned Clients</h1>

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <th >ID</th>
    <th class="col-md-5 col-xs-5">Name</th>
    <th class="col-md-3 col-xs-3">Home Phone</th>
    <th class="col-md-3 col-xs-3">Address</th>
    <th class="col-md-3 col-xs-3">Client Type</th>
    <th class="col-md-3 col-xs-3">Assign</th>
    <th >View</th>
   </tr>
   <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>

<% @clients.each do |client| %>
 <tbody>
   <tr>
    <td><%= client.id %></td>
    <td><%= client.full_name.titleize %></td>
    <td><%= client.home_phone %></td>
    <td><%= client.address %>, <%= client.city %>, <%= client.state %></td>
    <td><%= client.client_types.to_sentence %></td>
    <td>
        <%= form_tag("/clients/#{client.id}/assign", method: :patch) do %>
          <div class = "field">
            <%= collection_select(:program_employee, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}) %>
            </div>
            <%= hidden_field_tag :client_id, client.id %>
            <%= submit_tag "Assign" %>
        <% end %>
    </td>
    <td>
      <%= link_to "View", "/clients/#{client.id}" %>
    </td>
    </tr>
  </tbody>
<% end %>
</table>
