<h1>All Registered Clients</h1>

<div class="form-group pull-left">
    <input type="text" class="search form-control" placeholder="Filter...">
</div>
<span class="counter pull-left"></span>
<table class="table table-hover results">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Home Phone</th>
    <th>Submitted Applications</th>
    <th>Assigned Employee</th>
    <th>Client Info</th>
    <tr class="warning no-result">
        <td colspan="6"><i class="fa fa-warning"></i> No results </td>
    </tr>
  </thead>

<% @clients.each do |client| %>
  <tbody>
    <tr>
      <td><%= client.id %></td>
      <td><%= client.full_name.titleize %></td>
      <td><%= client.home_phone %></td>
      <td><%= client.client_types.to_sentence %></td>
      <td>
        <% if client.user_id %>
          <%= client.user.full_name %>
        <% elsif client.sex %> 
          <div class="row">
            <%= form_tag("/clients/#{client.id}/assign", method: :patch) do %>
              <div class = "col-md-8 field">
                <%= collection_select(:client, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}, :class => "form-control input-sm") %>
              </div>
              <div class="col-md-4">
                <%= hidden_field_tag :client_id, client.id %>
                <%= submit_tag "Assign", :class => "btn btn-sm btn-success" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="text-danger">Profile not complete.</p>
        <% end %>
      </td>
      <td>
        <%= link_to "View", "/clients/#{client.id}", :class => "btn btn-sm btn-primary" %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>
