<h4><%#= current_user.first_name %> <%#= current_user.last_name %></h4>

<h1>Your Clients</h1>

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <th >ID</th>
    <th class="col-md-5 col-xs-5">Name</th>
    <th class="col-md-3 col-xs-3">Home Phone</th>
    <th class="col-md-3 col-xs-3">Address</th>
    <th class="col-md-3 col-xs-3">Client Type</th>
    <th class="col-md-3 col-xs-3">View</th>
   </tr>
   <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>

<% @clients.each do |client| %>
 <tbody>
   <tr>
    <td><%= client.id %></td>
    <td><%= client.full_name.titleize %></td>
    <td><%= client.home_phone %></td>
    <td><%= client.address %>, <%= client.city %>, <%= client.state %></td>
    <td><%= client.client_types.to_sentence %></td>
    <td>
      <%= link_to "View", "/clients/#{client.id}" %>
    </td>
    </tr>
  </tbody>
<% end %>
</table>
