
<h4><%#= current_user.first_name %> <%#= current_user.last_name %></h4>
<h1>Your Clients</h1>

<div class="form-group pull-left">
    <input type="text" class="search form-control" placeholder="Filter...">
</div>
<span class="counter pull-left"></span>
<table class="table table-hover results">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Home Phone</th>
    <th>Submitted Applications</th>
    <th>Unassign?</th>
    <th>Client Info</th>
    <tr class="warning no-result">
        <td colspan="6"><i class="fa fa-warning"></i> No results </td>
    </tr>
  </thead>

<% @clients.each do |client| %>
 <tbody>
   <tr>
    <td><%= client.id %></td>
    <td><%= client.full_name.titleize %></td>
    <td><%= client.home_phone %></td> 
    <td><%= client.client_types.to_sentence %></td>
    <td>
      <%= button_to('Unassign', "/clients/#{client.id}/unassign", method: "patch", :class => "btn btn-xs btn-danger") %>
    </td>
    <td>
      <%= link_to "View", "/clients/#{client.id}", :class => "btn btn-xs btn-primary" %>
    </td>

    </tr>
  </tbody>
<% end %>
</table>

<p>
  Download:
  <%= link_to "CSV", user_path(format: "csv") %> |
  <%= link_to "Excel", user_path(format: "xls") %>
  </div>
</p>
