<h1>
  Hello <%= @client.full_name %>! <br />
  <small>
    Below is the info we have on file for you. You can edit this form by clicking on the "Edit Profile" button at the bottom of this page.
  </small>
</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Contact Information</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Client Name:</td>
              <td class="text-right"><strong><%= @client.full_name %></strong></td>
            </tr>
            <tr>
              <td>Home Phone:</td>
              <td class="text-right"><strong><%= @client.home_phone %></strong></td>
            </tr>
            <tr>
              <td>Cell Phone:</td>
              <td><strong><%= @client.cell_phone %></strong></td>
            </tr>
            <tr>
              <td>Work Phone:</td>
              <td class="text-right"><strong><%= @client.work_phone %></strong></td>
            </tr>
            <tr>
              <td>Address:</td>
              <td class="text-right">
                <strong>
                  <%= @client.address %>
                  <%= @client.city %>,
                  <%= @client.state %>
                  <%= @client.zip_code %>
                </strong>
              </td>
            </tr>
            <tr>
              <td>Ward:</td>
              <td class="text-right"><strong><%= @client.ward %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Demographics</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
            <tr>
              <td>Race:</td>
              <td class="text-right"><strong><%= @client.race %></strong></td>
            </tr>
            <tr>
              <td>Sex:</td>
              <td class="text-right"><strong><%= @client.sex %></strong></td>
            </tr>
            <tr>
              <td>Education Level:</td>
              <td class="text-right"><strong><%= @client.education_level %></strong></td>
            </tr>
            <tr>
              <td>Marital Status:</td>
              <td class="text-right"><strong><%= @client.marital_status %></strong></td>
            </tr>
            <tr>
              <td>Date of Birth:</td>
              <td class="text-right">
                <strong>
                  <% if @client.dob %>
                    <%= @client.dob.strftime("%m/%d/%Y") %>
                  <% end %>
                </strong>
              </td>
            </tr>
            <tr>
              <td>SSN:</td>
              <td class="text-right">
                <strong>
                  <% if @client.ssn %>
                    *********
                  <% end %>
                </strong>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
<!-- </div>

<div class="row"> -->
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Household Information</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <td>Head of Household:</td>
            <td class="text-right">
              <strong>
                <%= @client.head_of_household ? "Yes" : "No" %>
              </strong>
            </td>
          </tr>
          <tr>
            <td>Number in Household:</td>
            <td class="text-right"><strong><%= @client.num_in_household %></strong></td>
          </tr>
          <tr>
            <td>Number of Dependents:</td>
            <td class="text-right"><strong><%= @client.num_of_dependants %></strong></td>
          </tr>
          <tr>
            <td>Estimated Household Income:</td>
            <td class="text-right"><strong><%= @client.estimated_household_income %></strong></td>
          </tr>
          <tr>
            <td>Disability:</td>
            <td class="text-right"><strong><%= @client.disability ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td>Military Service Member:</td>
            <td class="text-right"><strong><%= @client.military_service_member ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td>Volunteer:</td>
            <td class="text-right"><strong><%= @client.volunteer_interest ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td>Union Member:</td>
            <td class="text-right"><strong><%= @client.union_member ? "Yes" : "No" %></strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<hr>
<div>
  <a href="/clients/<%= current_client.id %>/edit" class="btn btn-primary">Edit Profile</a>
</div>
