r<h1>
  <%= I18n.t "clients_show.hello"  %> <%= @client.full_name %>! <br />
  <small>
    <%= I18n.t "clients_show.below"  %>
  </small>
</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "clients_show.contact_information"  %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><%= I18n.t "clients_show.client_name"  %></td>
              <td class="text-right"><strong><%= @client.full_name %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.home_phone"  %></td>
              <td class="text-right"><strong><%= number_to_phone(@client.home_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.cell"  %></td>
              <td class="text-right"><strong><%= number_to_phone(@client.cell_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.work_phone"  %></td>
              <td class="text-right"><strong><%= number_to_phone(@client.work_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true)%></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.pref_lang"  %></td>
              <td class="text-right"><strong><%= @client.pref_lang %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.other_language"  %></td>
              <td class="text-right"><strong><%= @client.other_language %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.email"  %></td>
              <td class="text-right"><strong><%= @client.email %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.address"  %></td>
              <td class="text-right">
                <strong>
                  <%= @client.address %>
                  <%= @client.city %>,
                  <%= @client.state %>
                  <%= @client.zip_code %>
                </strong>
              </td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.ward"  %></td>
              <td class="text-right"><strong><%= @client.ward %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "clients_show.demographics"  %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
            <tr>
              <td><%= I18n.t "clients_show.race"  %></td>
              <td class="text-right"><strong><%= @client.race %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.gender"  %></td>
              <td class="text-right"><strong><%= @client.sex %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.education_level"  %></td>
              <td class="text-right"><strong><%= @client.education_level %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.marital_stat"  %></td>
              <td class="text-right"><strong><%= @client.marital_status %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.dob"  %></td>
              <td class="text-right">
                <strong>
                  <% if @client.dob %>
                    <%= @client.dob.strftime("%m/%d/%Y") %>
                  <% end %>
                </strong>
              </td>
            </tr>
            <tr>
              <td><%= I18n.t "clients_show.ss"  %></td>
              <td class="text-right">
                <strong>
                  <% if @client.ssn %>
                    <%= @client.ssn %>
                  <% else %>
                    <%= I18n.t "clients_show.not_submitted"  %>
                  <% end %>
                </strong>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
<!-- </div>

<div class="row"> -->
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "clients_show.household_information"  %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <td><%= I18n.t "clients_show.head_of_house"  %></td>
            <td class="text-right">
              <strong>
                <%= @client.head_of_household ? "Yes" : "No" %>
              </strong>
            </td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.house_occu"  %></td>
            <td class="text-right"><strong><%= @client.num_in_household %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.dependants"  %></td>
            <td class="text-right"><strong><%= @client.num_of_dependants %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.est_house_income"  %></td>
            <td class="text-right"><strong><%= @client.estimated_household_income %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.disability"  %></td>
            <td class="text-right"><strong><%= @client.disability ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.disability_in_household"  %></td>
            <td class="text-right"><strong><%= @client.disability_in_household ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.over_sixty_two"  %></td>
            <td class="text-right"><strong><%= @client.over_sixty_two ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.military"  %></td>
            <td class="text-right"><strong><%= @client.military_service_member ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.volunteer"  %></td>
            <td class="text-right"><strong><%= @client.volunteer_interest ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "clients_show.union"  %></td>
            <td class="text-right"><strong><%= @client.union_member ? "Yes" : "No" %></strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<hr>
<div>
  <a href="/clients/<%= current_client.id %>/edit" class="btn btn-warning"><%= I18n.t "clients_show.edit_profile"  %></a>
</div>
