<h2>Hi <%= @client.full_name %>!</h2>
<p>Below is the info we have on file for you. You can edit this form by clicking on the "Edit Profile" button at the bottom of this page.</p>

<table class="table table-hover">
  <thead>
    <th colspan="2"><h3>Contact Info:</h3></th>
  </thead>
  
  <tbody>
    <tr>
      <td>First Name:</td> <td><%= @client.first_name %></td>
    </tr>
    <tr>
      <td>Last Name:</td> <td><%= @client.last_name %></td>
    </tr>
    <tr>
      <td>Preferred Language:</td> <td><%= @client.preferred_language %></td>
    </tr>
    <tr>
      <td>Preferred Contact Method:</td> <td><%= @client.preferred_contact_method %></td>
    </tr>
    <tr>
      <td>Home Phone:</td> <td><%= @client.home_phone %></td>
    </tr>
    <tr>
      <td>Cell Phone:</td><td><%= @client.cell_phone %></td>
    </tr>
    <tr>
      <td>Work Phone:</td> <td><%= @client.work_phone %></td>
    </tr>
    <tr>  
      <td>Address:</td><td><%= @client.address %> <br><%= @client.city %>, <%= @client.state %> <%= @client.zip_code %></td>
    </tr>
    <tr>
      <td>Ward:</td><td><%= @client.ward %></td>
    </tr>
  </tbody>
</table>

<table class="table table-hover">

  <thead>
    <th colspan="2"><h3>Demographics:</h3></th>
  </thead>

  <tbody>
    <tr>
      <td>Race:</td><td><%= @client.race %></td>
    </tr>
    <tr>
      <td>Sex:</td><td><%= @client.sex %></td>
    </tr>
    <tr>
      <td>Education Level:</td><td><%= @client.education_level %></td>
    </tr>
    <tr>
      <td>Marital Status:</td><td><%= @client.marital_status %></td>
    </tr>
    <tr>
      <td>Date of Birth:</td>
      <td>
        <% if @client.dob %>
          <%= @client.dob.strftime("%m/%d/%Y") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>SSN:</td>
      <td>
        *********
      </td>
    </tr>
  </tbody>

</table>

<table class="table table-hover">

  <thead>
    <th colspan="2"><h3>Household Info:</h3></th>
  </thead>

  <tr>
    <td>Head of Household:</td><td><%= best_in_place @client, :head_of_household, as: :select, collection: {false: "No", true: "Yes"} %></td>
  </tr>
  <tr>
    <td>Number in Household:</td><td> <%= @client.num_in_household %></td>
  </tr>
  <tr>
    <td>Number of Dependents:</td><td><%= @client.num_of_dependants %></td>
  </tr>
  <tr>
    <td>Estimated Household Income:</td><td><%= @client.estimated_household_income %></td>
  </tr>
  <br>
  <tr>
    <td>Disability:</td><td><%= best_in_place @client, :disability, as: :select, collection: {false: "No", true: "Yes"}  %></td>
  </tr>
  <tr>
    <td>Military Service Member:</td><td><%= best_in_place @client, :military_service_member, as: :select, collection: {false: "No", true: "Yes"}  %></td>
  </tr>
  <tr>
    <td>Volunteer:</td><td><%= best_in_place @client, :volunteer_interest, as: :select, collection: {false: "No", true: "Yes"} %></td>
  </tr>
  <tr>
    <td>Union Member:</td><td><%= best_in_place @client, :union_member, as: :select, collection: {false: "No", true: "Yes"}  %></td>
  </tr>

</table>
<br>
<div>
  <p><a href="/clients/<%= current_client.id %>/edit">Edit Profile</a></p>
</div>