	<table class="table table-hover" width="50%">	
		<thead>
			<th colspan="2"><h3>Your Personal Info:</h3></th>
		</thead>
		<tbody>
			<tr>
				<td>First Name: </td>
				<td><%= best_in_place @client, :first_name, :class => 'highlight_on_success', :display_with => lambda { |v| ActiveSupport::Inflector.titleize(v).html_safe }, tabindex: "1" %></td>
			</tr><tr>
				<td>Last Name: </td>
				<td><%= best_in_place @client, :last_name, :class => 'bounce_on_success', :display_with => lambda { |v| ActiveSupport::Inflector.titleize(v).html_safe }, tabindex: "2" %></td>
			</tr><tr>
				<td>Race: </td>
				<td><%= best_in_place @client, :race, :as => :select, :collection => racial_options, tabindex: "3" %></td>
			</tr><tr>
				<td>Sex: </td>
				<td><%= best_in_place @client, :sex, :as => :select, :collection => [['Male', 'Male'],['Female', 'Female']], tabindex: "4" %></td>
			</tr><tr>
			  <td>Date of Birth: </td>
			  <td><%= best_in_place @client, :dob, :as => :date, :place_holder => "mm/dd/yyyy", tabindex: "5" %></td>
			</tr><tr>
			  <td>Social Security Number: </td>
			  <td><%= best_in_place @client, :ssn, :place_holder => "___-__-____", tabindex: "6" %></td>
			</tr>
			<tr>
			  <td>Are you the head of the household</td>
			  <td><%= best_in_place @client, :head_of_household, :as => :select, collection: {false: "No", true: "Yes"}, tabindex: "7" %></td>
			</tr>
		</tbody>
	</table>