	<table class="table table-hover">	
		<thead>
			<th colspan="2"><h3>Contact information:</h3></th>
		</thead>
		<tbody>

			<tr>
				<td>Email: </td>
				<td><%= best_in_place @client, :email, tabindex: "8" %></td>
			</tr><tr>
				<td>Home Phone: </td>
				<td><%= best_in_place @client, :home_phone, :place_holder => "___-___-____", tabindex: "9" %></td>
			</tr><tr>
				<td>Cell Phone: </td>
				<td><%= best_in_place @client, :cell_phone, :place_holder => "___-___-____", tabindex: "10" %></td>
			</tr><tr>
				<td>Work Phone: </td>
				<td><%= best_in_place @client, :work_phone, :place_holder => "___-___-____", tabindex: "11" %></td>
			</tr><tr>
			  <td>Preferred Contact Method: </td>
			  <td><%= best_in_place @client, :preferred_contact_method, :as => :select, :class=>"best_in_place", :collection => pref_contact, tabindex: "12" %></td>
			</tr>
	  </tbody>
	</table>

