
<div class="row" style="margin-bottom:0;">
  <div class="col-md-8">
    <h1>
      <%= I18n.t "employee_view.client_profile_for" %><strong class="text-primary"> <%= @client.full_name %> </strong> <br>
        <% if @client.user_id %>
          <div class="row" style="padding-top:10px;margin-bottom:0;">
            <%= form_tag("/clients/#{@client.id}/assign", method: :patch) do %>
              <div class="col-md-4" style="margin-top:2px;">
                <%= collection_select(:client, :user_id, User.all, :id, :full_name, {:prompt => @client.user.full_name}, :class => "form-control input-sm user-assign") %>
              </div>
              <div class="col-md-8">
                <%= hidden_field_tag :client_id, @client.id %>
                <%= submit_tag "Assign", :class => "btn btn-sm btn-success" %>
              </div>
            <% end %>
              </div>
        <% elsif !@client.incomplete_profile? && current_user.admin %>
          <div class="row" style="padding-top:10px;margin-bottom:0;">
            <%= form_tag("/clients/#{@client.id}/assign", method: :patch) do %>
              <div class="col-md-4" style="margin-top:2px;">
                <%= collection_select(:client, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}, :class => "form-control input-sm user-assign") %>
              </div>
              <div class="col-md-8">
                <%= hidden_field_tag :client_id, @client.id %>
                <%= submit_tag "Assign", :class => "btn btn-sm btn-success user-assign" %>
              </div>
            <% end %>
              </div>
         <%elsif !@client.incomplete_profile? && current_user.admin == false %>
          <small class="text-warning">awaiting assignment</small>     
        <%else%>
          <small class="text-danger">Profile not complete.</small>
        <% end %>
    </h1>
  </div>
  <div class="col-md-4">
    <div class="text-right">
      <% if @client.client_applications.length > 0 %>
        <h5>Submitted Applications</h5>
        <% @client.client_applications.each do |application| %>
          <%= link_to "#{application.class.to_s}", "/#{application.class.to_s.downcase}s/#{application.id}", :class => "btn btn-success btn-sm" %>
        <% end %>
      <% end %>
<%= link_to "Budget", "/budgets/#{@client.budget.id}", :class => "btn btn-success btn-sm" %>

    </div>
</div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "employee_view.contact_information" %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><%= I18n.t "employee_view.client_name" %></td>
              <td class="text-right"><strong><%= @client.full_name %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.home_phone" %></td>
              <td class="text-right"><strong><%= number_to_phone(@client.home_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.cell_phone" %></td>
              <td class="text-right"><strong><%= number_to_phone(@client.cell_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.work_phone" %></td>
              <td class="text-right"><strong><%= number_to_phone(@client.work_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.email" %></td>
              <td class="text-right"><strong><%= @client.email %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.pref_lang" %></td>
              <td class="text-right"><strong><%= @client.preferred_language %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.other_language" %></td>
              <td class="text-right"><strong><%= @client.other_language %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.pref_contact"  %></td>
              <td class="text-right"><strong><%= @client.preferred_contact_method %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.address" %></td>
              <td class="text-right">
                <strong>
                  <%= @client.address %>
                  <%= @client.city %>,
                  <%= @client.state %>
                  <%= @client.zip_code %>
                </strong>
              </td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.ward" %></td>
              <td class="text-right"><strong><%= @client.ward %></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "employee_view.demographics" %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
            <tr>
              <td><%= I18n.t "employee_view.race" %></td>
              <td class="text-right"><strong><%= @client.race %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.gender" %></td>
              <td class="text-right"><strong><%= @client.sex %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.education_level" %></td>
              <td class="text-right"><strong><%= @client.education_level %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.marital_status" %></td>
              <td class="text-right"><strong><%= @client.marital_status %></strong></td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.date_of_birth" %></td>
              <td class="text-right">
                <strong>
                  <% if @client.dob %>
                    <%= @client.dob.strftime("%m/%d/%Y") %>
                  <% end %>
                </strong>
              </td>
            </tr>
            <tr>
              <td><%= I18n.t "employee_view.ssn" %></td>
              <td class="text-right">
                <strong>
                  <% if @client.ssn  %>
                    <%= @client.ssn %>
                  <% else %>
                    <%= I18n.t "employee_view.not_submitted" %>
                  <% end %>
                </strong>
              </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "employee_view.household_information" %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <td><%= I18n.t "employee_view.head_of_household" %></td>
            <td class="text-right">
              <strong>
                <%= @client.head_of_household ? "Yes" : "No" %>
              </strong>
            </td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.number_in_household" %></td>
            <td class="text-right"><strong><%= @client.num_in_household %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.number_of_dependents" %></td>
            <td class="text-right"><strong><%= @client.num_of_dependants %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.estimated_household_income" %></td>
            <td class="text-right"><strong><%= @client.estimated_household_income %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.disability_in_household" %></td>
            <td class="text-right"><strong><%= @client.disability_in_household ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.over_sixty_two" %></td>
            <td class="text-right"><strong><%= @client.over_sixty_two ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.military_service_member" %></td>
            <td class="text-right"><strong><%= @client.military_service_member ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.volunteer" %></td>
            <td class="text-right"><strong><%= @client.volunteer_interest ? "Yes" : "No" %></strong></td>
          </tr>
          <tr>
            <td><%= I18n.t "employee_view.union_member" %></td>
            <td class="text-right"><strong><%= @client.union_member ? "Yes" : "No" %></strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "employee_view.notes" %></h3>
      </div>
      <div class="panel-body">

        <%= form_tag "/clients/#{@client.id}", method: :post do %>
          <div class="form-group">
            <%= I18n.t "employee_view.add_note" %>
            <%= text_area_tag :description, nil, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Submit Note", :class=>"btn btn-sm btn-primary" %>
          </div>
        <% end %>

        <table class="table table-hover">
          <tr>
            <th><%= I18n.t "employee_view.note" %></th>
            <th><%= I18n.t "employee_view.time" %></th>
            <th colspan="2"><%= I18n.t "employee_view.action" %></th>
          </tr>
          <% @client.notes.each do |note| %>
          <tr>
            <td><%= note.description %></td>
            <td><%= note.pretty_time %></td>
            <td>
              <%= link_to "edit", notes_edit_path(note.id), :class=>"btn btn-sm btn-warning" %>
            </td>
            <td>
              <%= button_to "delete", client_path(:id => note.id), :method => :delete, :class=>"btn btn-sm btn-danger" %>
            </td>
          </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>








