
<%#= render "layouts/alerts" %>

<h1><%= @client.full_name %></h1>
<h3>Contact Info:</h3>
<h4><%= @client.address.titleize %></h4>
<h4>Home Phone: <%= @client.home_phone %></h4>
<h4>Cell Phone: <%= @client.cell_phone %></h4>
<h3>Demographics:</h3>
<h4>Race: <%= @client.race %>
<h4>Sex: <%= @client.sex %></h4>

<%= form_tag "/clients/#{@client.id}", method: :post do %>
  <div>
    <%= label_tag :Notes %>
    <%= text_area_tag :description %>
  </div>
  <div>
    <%= submit_tag "Submit Note" %>
  </div>
<% end %>

<h4> Counselor Notes: <% @client_notes.each do |note|%></h4>
<h3><%= note.description %></h3>
<h5><%= note.pretty_time %></h5>
<%= link_to "edit", notes_edit_path(note.id) %>
<%= button_to "delete", client_path(:id => note.id), :method => :delete %>
<% end %>

<% if current_user.id != @client.user_id %>
  
  <%= form_tag("/clients/#{@client.id}/assign", method: :patch) do %>
    <div class = "field">
      <%= collection_select(:program_employee, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}) %>
      </div>
      <%= hidden_field_tag :client_id, @client.id %>
      <%# if !@client.foreclosure.blank? %>
        <%#= hidden_field_tag :programable_id, @client.foreclosure.id %>
        <%#= hidden_field_tag :programable_type, "Foreclosures" %>
    <%# elsif !@client.homebuying.blank? %>   
        <%#= hidden_field_tag :programable_id, @client.homebuying.id %>
        <%#= hidden_field_tag :programable_type, "Homebuyings" %>       
    <%# elsif !@client.rental.blank? %>
        <%#= hidden_field_tag :programable_id, @client.rental.id %>
        <%#= hidden_field_tag :programable_type, "Rentals" %>
    <%# elsif !@client.senior_repair.blank? %>
        <%#= hidden_field_tag :programable_id, @client.senior_repair.id %>
        <%#= hidden_field_tag :programable_type, "SeniorRepairs" %>
    <%# elsif !@client.law_project.blank? %>
        <%#= hidden_field_tag :programable_id, @client.law_project.id %>
        <%#= hidden_field_tag :programable_type, "LawProjects" %>
    <%# end %>
      <%= submit_tag "Assign" %>

  <% end %>
<% end %>