<h1>
  <%= I18n.t "clients_edit.edit_profile"  %><br />
  <small>
    <%= I18n.t "clients_edit.update_information"  %>
  </small>
</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t "clients_edit.contact_information"  %></h3>
      </div>
      <div class="panel-body">

        <%= form_for @client do |form| %>
            <div class="form-group">
              <label> <%= I18n.t "clients_edit.first_name"  %> </label>
              <%= form.text_field :first_name, :class => "form-control" %>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.last_name" %> </label>
              <%= form.text_field :last_name, :class => "form-control" %>
            </div>

            <div class="row phone-number--row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> <%= I18n.t "clients_edit.home_phone" %> </label>
                  <%= form.text_field :home_phone, :class => "form-control" %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label> <%= I18n.t "clients_edit.cell" %> </label>
                  <%= form.text_field :cell_phone, :class => "form-control" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.email" %> </label>
              <%= form.text_field :email, :class => "form-control" %>
            </div>
            <div class="form-group">
              <label> <%= I18n.t "clients_edit.pref_lang"  %> </label>
              <%= form.select(:preferred_language, options_for_select(language_options, @client.preferred_language),{},{:class => "form-control"}) %>
            </div>
            <div class="form-group">
              <label> <%= I18n.t "clients_edit.other_language" %> </label>
              <%= form.text_field :other_language, :class => "form-control" %>
            </div>
            <div class="form-group">
              <label> <%= I18n.t "clients_edit.pref_contact"  %> </label>
              <%= form.select(:preferred_contact_method, options_for_select(contact_method_options, @client.preferred_contact_method),{},{:class => "form-control"}) %>
            </div>
            <div class="form-group">
              <label> <%= I18n.t "clients_edit.work_phone" %> </label>
              <%= form.text_field :work_phone, :class => "form-control" %>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.address" %> </label>
              <%= form.text_field :address, :class => "form-control" %>
            </div>

            <div class="row city-state--row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> <%= I18n.t "clients_edit.city" %> </label>
                  <%= form.text_field :city, :class => "form-control" %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label> <%= I18n.t "clients_edit.state"  %> </label>
                  <%= form.text_field :state, :class => "form-control" %>
                </div>
              </div>
            </div>

            <div class="row client-location--row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> <%= I18n.t "clients_edit.ward"  %> </label>
                  <%= form.text_field :ward, :class => "form-control" %>
                  <a href="https://webapps1.cityofchicago.org/ezbuy/geoWardLookup.do" target='_blank'>
                  <i><%= I18n.t "clients_edit.search_for_ward"  %></i></a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label> <%= I18n.t "clients_edit.zip"  %> </label>
                  <%= form.text_field :zip_code, :class => "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= I18n.t "clients_edit.demographics"  %></h3>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.gender"  %> </label>
              <%= form.select(:sex, options_for_select(gender_options, @client.sex),{},{:class => "form-control"}) %>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.race"  %> </label>
              <%= form.select(:race, options_for_select(racial_options, @client.race),{},{:class => "form-control"}) %>
            </div>

            <div class="form-group">
              <label>
                <%= I18n.t "clients_edit.ss"  %>
                <span class="text-danger"> * </span>
              </label>
              <%= form.password_field(:ssn, value: @client.ssn, :class => "form-control") %>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.marital_stat"  %> </label>
              <%= form.select(:marital_status, options_for_select(marital_status_options, @client.marital_status),{},{:class => "form-control"}) %>
            </div>

            <div class="form-group">
              <label>
                <%= I18n.t "clients_edit.dob"  %>
                <span class="text-danger"> * </span>
              </label>
              <%= form.date_field :dob, :class => "form-control" %>
            </div>
          </div>
        </div>
      </div>
 <!--    </div>

    <div class="row"> -->
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= I18n.t "clients_edit.household_information"  %></h3>
          </div>
          <div class="panel-body">

            <div class="form-group">

                <label>
                  <%= I18n.t "clients_edit.house_occu"  %>
                  <span class="text-danger"> * </span>
                </label>
                <%= form.number_field :num_in_household, {in: 1..15, class: "form-control"} %>

            </div>

            <div class="form-group">
              <label>
                <%= I18n.t "clients_edit.dependants"  %>
                <span class="text-danger"> * </span>
              </label>
              <%= form.number_field :num_of_dependants, {in: 0..10, class: "form-control"} %>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.education_level"  %> </label>
              <%= form.select :education_level, options_for_select(education, @client.education_level),{},{:class => "form-control"} %>
            </div>

            <div class="form-group">
              <label> <%= I18n.t "clients_edit.est_house_income"  %> </label>
              <%= form.select :estimated_household_income, options_for_select(income_range, @client.estimated_household_income),{},{:class => "form-control"} %>
            </div>

            <div>
            <hr>
              <h5 class="text-primary lead"><em><%= I18n.t "clients_edit.check_all_that_apply" %></em></h5>
              <div class="form-group">
                <label>
                  <%= hidden_field_tag 'client[head_of_household]', false %>
                  <%= check_box_tag 'client[head_of_household]', true, @client.head_of_household %>
                  <span class="checkbox-label"><%= I18n.t "clients_edit.head_of_house" %></span>
                </label>
              </div>

              <div class="form-group">
                <label>
                  <%= hidden_field_tag 'client[disability]', false %>
                  <%= check_box_tag 'client[disability]', true, @client.disability %>
                  <span class="checkbox-label"><%= I18n.t "clients_edit.disability"  %></span>
                </label>
              </div>

              <div class="form-group">
                <label>
                  <%= hidden_field_tag 'client[disability_in_household]', false %>
                  <%= check_box_tag 'client[disability_in_household]', true, @client.disability_in_household %>
                  <span class="checkbox-label"><%= I18n.t "clients_edit.disability_in_household"  %></span>
                </label>
              </div>

              <div class="form-group">
              <label>
                <%= hidden_field_tag 'client[over_sixty_two]', false %>
                <%= check_box_tag 'client[over_sixty_two]', true, @client.over_sixty_two %>
                <span class="checkbox-label"><%= I18n.t "clients_edit.over_sixty_two"  %></span>
              </label>
              </div>

              <div class="form-group">
                <label>
                  <%= hidden_field_tag 'client[union_member]', false %>
                  <%= check_box_tag 'client[union_member]', true, @client.union_member %>
                  <span class="checkbox-label"><%= I18n.t "clients_edit.union"  %></span>  
                </label>
              </div>

              <div class="form-group">
                <label>
                  <%= hidden_field_tag 'client[military_service_member]', false %>
                  <%= check_box_tag 'client[military_service_member]', true, @client.military_service_member %>
                  <span class="checkbox-label"><%= I18n.t "clients_edit.military"  %></span> 
                </label>
              </div>

              <div class="form-group">
                <label>
                  <%= hidden_field_tag 'client[volunteer_interest]', false %>
                  <%= check_box_tag 'client[volunteer_interest]', true, @client.volunteer_interest %>
                  <span class="checkbox-label"><%= I18n.t "clients_edit.volunteer"  %></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <%= form.submit "Update", :class => "btn btn-success" %>
    </div>
    </div>
  </div>
</div>
<% end %>
