
<h1>Please fill in the rest of the information below</h1>

<%= form_tag client_update_path, method: :patch do %>

   <div class="field">
    <%= label_tag :first_name %><br />
    <%=text_field_tag :first_name, @client.first_name %>
  </div>

  <div class="field">
    <%= label_tag :last_name %><br />
    <%=text_field_tag :last_name, @client.last_name %>
  </div>

  <div class="field">
    <%= label_tag :sex %><br />
    <%= select_tag(:sex, options_for_select([['Male', 'Male'], ['Female', 'Female']], @client.sex)) %>
  </div>

  <div class="field">
    <%= label_tag :race %><br />
    <%= select_tag(:race, options_for_select([['White', 'white'], ['Hispanic', 'Hispanic'], ['African-American', 'African-American'], ['Asian', 'Asian']], @client.race)) %>
  </div>

  <div class="field">
    <%= label_tag :home_phone %><br />
    <%=text_field_tag :home_phone, @client.home_phone %>
  </div>

  <div class="field">
    <%= label_tag :cell_phone %><br />
    <%=text_field_tag :cell_phone, @client.cell_phone %>
  </div>

  <div class="field">
    <%= label_tag :work_phone %><br />
    <%= text_field_tag :work_phone, @client.work_phone %>
  </div>

    <div class="field">
    <%= label_tag :address %><br />
    <%=text_field_tag :address, @client.address %>
  </div>

  <div class="field">
    <%= label_tag :state %><br />
    <%=text_field_tag :state, @client.state %>
  </div>

  <div class="field">
    <%= label_tag :ward %><br />
    <%= text_field_tag :ward, @client.ward %>
  </div>

  <div class="field">
    <%= label_tag :zip_code %><br />
    <%= text_field_tag :zip_code, @client.zip_code %>
  </div>

<%= submit_tag "Update!" %>

<% end %>