Language: 
            <%= link_to_unless_current "English", locale: "en" %>|
            <%=  link_to_unless_current "Español", locale: "es" %>

<div class="row">
  <div class="col-md-6">
    <%= form_for @client  do |form| %>
        <% if @client.errors.any? %>
          <div id="error_explanation">
            <h5><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h5>
            <ul>
            <% @client.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= I18n.t "clients_edit.first_name"  %> <br>
          <%= form.text_field :first_name %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.last_name"  %> <br>
          <%= form.text_field :last_name %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.home_phone"  %> <br>
          <%= form.text_field :home_phone %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.cell"  %> <br>
          <%= form.text_field :cell_phone %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.work_phone"  %> <br>
          <%= form.text_field :work_phone %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.address"  %> <br>
          <%= form.text_field :address %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.city"  %> <br>
          <%= form.text_field :city %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.state"  %> <br>
          <%= form.text_field :state %>
        </div>

        <div class="form-group">
          <%= "Ward "%>
          <a href="https://webapps1.cityofchicago.org/ezbuy/geoWardLookup.do" target='_blank'><i>Search for your ward here</i></a> <br>
          <%= form.text_field :ward %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.zip"  %> <br>
          <%= form.text_field :zip_code %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.gender"  %> <br>
          <%= form.select(:sex, options_for_select([['Male', 'Male'], ['Female', 'Female']], @client.sex)) %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.race"  %> <br>
          <%= form.select(:race, options_for_select(racial_options, @client.race)) %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.ss"  %> <br>
          <%= form.password_field(:ssn, value: @client.ssn) %>
        </div>

        <div class="form-group">
          Preferred Contact Method<br>
          <%= form.text_field :preferred_contact_method %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.pref_lang"  %> <br>
          <%= form.text_field :preferred_language %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.marital_stat"  %><br>
          <%= form.text_field :marital_status %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.dob"  %> <br>
          <%= form.date_field :dob %>
        </div>

        <div class="form-group">
          <div class="checkbox-inline">
            <input id="head_of_household" name="head_of_household" type="checkbox" value="true"/>
            <%= I18n.t "clients_edit.head_of_house"  %>
          </div>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.house_occu"  %> <br>
          <%= form.number_field :num_in_household, {in: 1..15} %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.dependants"  %><br>
          <%= form.number_field :num_of_dependants, {in: 0..10} %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.education_level"  %> <br>
          <%= form.select :education_level, options_for_select(education, @client.education_level) %>
        </div>

        <div class="form-group">
          <%= I18n.t "clients_edit.est_house_income"  %> <br>
          <%= form.select :estimated_household_income, options_for_select(income_range, @client.estimated_household_income) %>
        </div>

        <div class="form-group">
          <div class="checkbox-inline">
            <input id="disability" name="disability" type="checkbox" value="true"/>
            <%= I18n.t "clients_edit.disability"  %> 
          </div>
        </div>  

        <div class="form-group">
          <div class="checkbox-inline">
            <input id="union_member" name="union_member" type="checkbox" value="true"/>
            <%= I18n.t "clients_edit.union"  %>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox-inline">
            <input id="military_service_member" name="military_service_member" type="checkbox" value="true"/>
            <%= I18n.t "clients_edit.military"  %> <br>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox-inline">
            <input id="volunteer_interest" name="volunteer_interest" type="checkbox" value="true"/>
           <%= I18n.t "clients_edit.volunteer"  %> <br>
          </div>
        </div>
        <div class="actions">
          <%= form.submit I18n.t "clients_edit.update", class: 'btn btn-large btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
