<% if user_signed_in? %>
	<h1><%= @client.full_name %></h1>
	<h3>Contact Info</h3>
	<h4><%= @client.address.titleize %></h4>
	<h4>Home Phone: <%= @client.home_phone %></h4>
	<h4>Cell Phone: <%= @client.cell_phone %></h4>

	<h3>Demographics:</h3>
	<h4>Race: <%= best_in_place @client, :race%></h4>
	<h4>Sex: <%= best_in_place @client, :sex %></h4>

	<%= form_tag case_assign_path, method: :post do %>
		<div class = "field">
			<%= collection_select(:program_employee, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}) %>
 		</div>
 		<% if !@client.foreclosure.blank? %>
 			<%= hidden_field_tag :programable_id, @client.foreclosure.id %>
 			<%= hidden_field_tag :programable_type, "Foreclosures" %>
		<% elsif !@client.homebuying.blank? %>
 			<%= hidden_field_tag :programable_id, @client.homebuying.id %>
 			<%= hidden_field_tag :programable_type, "Homebuyings" %> 			
		<% elsif !@client.rental.blank? %>
 			<%= hidden_field_tag :programable_id, @client.rental.id %>
 			<%= hidden_field_tag :programable_type, "Rentals" %>
		<% elsif !@client.senior_repair.blank? %>
 			<%= hidden_field_tag :programable_id, @client.senior_repair.id %>
 			<%= hidden_field_tag :programable_type, "SeniorRepairs" %>
		<% elsif !@client.law_project.blank? %>
 			<%= hidden_field_tag :programable_id, @client.law_project.id %>
 			<%= hidden_field_tag :programable_type, "LawProjects" %>
		<% end %>
 		<%= submit_tag "Assign" %>

	<% end %>

<% elsif client_signed_in? %>
	<h1>Hi <%= @client.full_name %>
	<h4>First Name: </h4><%= best_in_place @client, :first_name, :class => 'highlight_on_success' %>
	<h4>Last Name: </h4><%= best_in_place @client, :last_name, :class => 'bounce_on_success' %>
	<h4>Email: </h4><%= best_in_place @client, :email %>
	<h4>Race: </h4><%= best_in_place @client, :race %>
	<h4>Sex: </h4><%= best_in_place @client, :sex %>
  <h4>Date of Birth: </h4><%= best_in_place @client, :dob, :as => :date %>
  <h4>Social Security Number </h4><%= best_in_place @client, :ssn %>
	<h4>Home Phone: </h4><%= best_in_place @client, :home_phone %>
	<h4>Cell Phone: </h4><%= best_in_place @client, :cell_phone %>
	<h4>Work Phone: </h4><%= best_in_place @client, :work_phone %>
	<h4>Address: </h4><%= best_in_place @client, :address %>
	<h4>City: </h4><%= best_in_place @client, :city %> 
	State: <%= best_in_place @client, :state, :as => :select, :class=>"best_in_place", :collection => us_states %>
  <h4>Zip Code: </h4><%= best_in_place @client, :zip_code %>, Ward: </h4><%= best_in_place @client, :ward %>
  <h4>Preferred Contact Method: </h4><%= best_in_place @client, :preferred_contact_method, :as => :select, :class=>"best_in_place", :collection => pref_contact %>
  <h4>Preferred Language: </h4><%= best_in_place @client, :preferred_language, :as => :select, :class=>"best_in_place", :collection => pref_language %>
  <h4>Number in Household: </h4><%= best_in_place @client, :num_in_household %>
  <h4>Number of Dependents: </h4><%= best_in_place @client, :num_of_dependants %>
  <h4>Education Level: </h4><%= best_in_place @client, :education_level, :as => :select, :class=>"best_in_place", :collection => education %>
  <h4>Estimated Household Income: </h4><%= best_in_place @client, :estimated_household_income, :as => :select, :class=>"best_in_place", :collection => income_range %>
  <h4>Do you or anyone in your household have a disability? </h4><%= best_in_place @client, :disability, :as => :checkbox, collection: {false: "No", true: "Yes"}  %>
  <h4>Are you a union member? </h4><%= best_in_place @client, :union_member, :as => :checkbox, collection: {false: "No", true: "Yes"}  %>
  <h4>Are you a current or former military service member? </h4><%= best_in_place @client, :military_service_member, :as => :checkbox, collection: {false: "No", true: "Yes"}  %>
  <h4>Are you the head of the household</h4><%= best_in_place @client, :head_of_household, :as => :checkbox, collection: {false: "No", true: "Yes"} %>
  <h4>Would you like to volunteer with LUCHA? </h4><%= best_in_place @client, :volunteer_interest, :as => :checkbox, collection: {false: "No", true: "Yes"} %>


<% end %>