<% if user_signed_in? %>
	<h1><%= @client.full_name %></h1>
	<h3>Contact Info</h3>
	<h4><%= @client.address.titleize %></h4>
	<h4>Home Phone: <%= @client.home_phone %></h4>
	<h4>Cell Phone: <%= @client.cell_phone %></h4>

	<h3>Demographics:</h3>
	<h4>Race: <%= @client.race %></h4>
	<h4>Sex: <%= @client.sex %></h4>

	<%= form_tag case_assign_path, method: :post do %>
		<div class = "field">
			<%= collection_select(:program_employee, :user_id, User.all, :id, :full_name, {:prompt => 'Select a Counselor'}) %>
 		</div>
 		<% if !@client.foreclosures.blank? %>
 			<%= hidden_field_tag :programable_id, @client.foreclosures[0].id %>
 			<%= hidden_field_tag :programable_type, "Foreclosures" %>
		<% elsif !@client.homebuyings.blank? %>
 			<%= hidden_field_tag :programable_id, @client.homebuyings[0].id %>
 			<%= hidden_field_tag :programable_type, "Homebuyings" %> 			
		<% elsif !@client.rentals.blank? %>
 			<%= hidden_field_tag :programable_id, @client.rentals[0].id %>
 			<%= hidden_field_tag :programable_type, "Rentals" %>
		<% elsif !@client.senior_repairs.blank? %>
 			<%= hidden_field_tag :programable_id, @client.senior_repairs[0].id %>
 			<%= hidden_field_tag :programable_type, "SeniorRepairs" %>
		<% elsif !@client.law_projects.blank? %>
 			<%= hidden_field_tag :programable_id, @client.law_projects[0].id %>
 			<%= hidden_field_tag :programable_type, "LawProjects" %>
		<% end %>
 		<%= submit_tag "Assign" %>

	<% end %>

<% elsif client_signed_in? %>
	<h1>Hi <%= current_client.full_name %></h1>
<% end %>