<div class="client-status">  
  <h1>
    Application Status for: <strong class="text-primary"><%= @client.full_name %></strong><br />
    <small>
      Thank you for your interest in LUCHA's services. See the steps below to complete your application.
    </small>
  </h1>

  <table class="table status-table">
  
    <!-- STEP ONE: CLIENT PROFILE -->
    <tr class=<%=@step_one%>>
      <td>
        Step 1
      </td>
      <td>
        <% if @step_one != "completed-step" %>
          <div> 
            Please complete your profile.
          </div>
        <% else %>
          <div>
            Thank you for completing your profile, you can view and edit it anytime.
          </div>
        <% end %>
      </td>
      <td>
        <% if @step_one != "completed-step" %>
          <%= link_to "Edit Profile", "/clients/#{@client.id}/edit", :class => "btn btn-primary" %>
        <% else %>
          <%= link_to "View Profile", "/clients/#{@client.id}", :class => "btn btn-primary" %>
        <% end %>  
      </td>
      <td>
        <% if @step_one != "completed-step" %>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        <% else %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    
    <!-- STEP TWO: BUDGET -->
      <tr class=<%=@step_two%>>
        <td>
            Step 2
        </td>
        <td>
          <% if @step_two != "completed-step" %>
            <div>Please provide relevant financial information so that LUCHA may better assist you. You may update it anytime. </div>
          <% else %>
            <div>Thank you for providing your financial information. You can view and edit it at any time.</div>
          <% end %>
        </td>
        <td>
          <%= link_to "View Budget", "/budgets/#{@client.id}", :class => "btn btn-primary #{ @step_two == 'incomplete-step' ? 'disabled' : ''}" %>
        </td>
        <td>
          <% if @step_two != "completed-step" %>
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    
    <!-- STEP THREE: APPLICATION -->    
      <tr class=<%=@step_three%>>
        <td>
          Step 3
        </td>
          <% if @step_three != "completed-step" %>
        <td>
          Click the button(s) for the application(s) you are submitting.
        </td>
        <td>
          <%= link_to "Foreclosure", "/foreclosures/new", :class => "btn btn-primary #{ @step_three == 'incomplete-step' ? 'disabled' : ''}" %>
          <%= link_to "Rental", "/rentals/new", :class => "btn btn-primary #{ @step_three == 'incomplete-step' ? 'disabled' : ''}" %>
          <%= link_to "Homebuying", "/homebuyings/new", :class => "btn btn-primary #{ @step_three == 'incomplete-step' ? 'disabled' : ''}" %>
        </td>
        <td>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        </td>
          <% else %>
        <td>
          <div>Thank you for submitting your application(s).</div>
        </td>
        <td>
          <% @client.client_applications.each do |application| %>
            <%= link_to "#{application.class.to_s}", "/#{application.class.to_s.downcase}s/#{application.id}", :class => "btn btn-primary" %>
          <% end %>
          <% @client.blank_applications.each do |application| %>
            <%= link_to "#{application.capitalize}", "/#{application}s/new", :class => "btn btn-default" %>
          <% end %>

        </td>
        <td>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
       <% end %>
      </tr>

    <!-- STEP FOUR: CLIENT ASSIGNMENT -->  
    <tr class=<%=@step_four%>> 
      <td>
        Step 4
      </td>
      <% if !@client.has_user? %>
        <td>
            A LUCHA representative will review your information and contact you within
            <br>
            two business days to set-up an appointment and inform you of your next steps.<br>
            We look forward to working with you. 
        </td>
        <td>
        </td>
        <td>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        </td>
      <% else %>
        <td>
          <b>You have been assigned to:</b> <br>
          <%= @client.user.first_name.capitalize %> <%= @client.user.last_name.capitalize %> <br>
          <%= @client.user.email %> <br>
          <%= number_to_phone(@client.user.work_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %><br>
          <%= @client.user.address %>
        </td>
        <td>
        </td>
        <td>
          <span style="color:red;" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
      <% end %>
    </tr>
  </table>
  <hr>
</div>