<!-- <div class="jumbotron">
  <div class="container">

  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
 -->


<h1>Hi <%= current_client.full_name %></h1>
<% if current_client.counselors.all?&:blank? %>
	<% current_client.counselors.each do |counselor| %>
		<ul>
			<li><%= counselor.full_name %></li>
			<li><%= counselor.work_phone %></li>
			<li><%= counselor.email %></li>
		</ul>
		<br>
		<% end %>
		<% else %>
	<p>When you have a chance, please make sure to fill out an application in the navigation bar next to you so we can get you started.</p>
<% end %>

		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="<%= 30 %>"
		  aria-valuemin="0" aria-valuemax="<%= 40  %>">
			</div>
		</div>