<div class="client-status">  
  <h1>
    Application Status for: <strong class="text-primary"><%= @client.full_name %></strong><br />
    <small>
      Thank you for your interest in LUCHA's services. Please follow the steps below.
    </small>
  </h1>
  <hr>
  <table class="table">
  <% step = 1 %>
  

    <!-- STEP ONE: CLIENT PROFILE -->
    <tr>
      <td>
        Step 1
      </td>
      <td>
        <% if @client.incomplete_profile? %>
          Please complete your profile before submitting an application:
        <% else %>
          <% step = 2 %>
          Thank you for completing your profile, you can update anytime.
        <% end %>
      </td>
      <td>
        <%= link_to "Edit Profile", "/clients/#{@client.id}/edit", :class => "btn btn-primary" %>
      </td>
      <td>
        <% if @client.incomplete_profile? %>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        <% else %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>

    
    <!-- STEP TWO: BUDGET -->
    <% if (step == 2 || step == 3) || step == 4 %>
    <tr>
      <td>
        Step 2
      </td>
      <td>
        LUCHA may need some financial information to better assist you.
      </td>
      <td>
        <%= link_to "Budget", "/budgets/#{@client.id}", :class => "btn btn-primary" %>
      </td>
      <td>
        <% if @client.budget.debt_income_ratio == 0 %>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        <% else %>
          <% step = 3 %>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <% end %>

    
    <!-- STEP THREE: APPLICATION -->
    <% if (step == 3 || step == 4) %>
    <% if !@client.incomplete_profile? %>
      <tr>
        <td>
          Step 3
        </td>
        <% if @client.client_applications.length == 0 %>
          <td>
            What application are you interested in submitting?
          </td>
          <td>
            <%= link_to "Foreclosure", "/foreclosures/new", :class => "btn btn-primary" %>
            <%= link_to "Rental", "/rentals/new", :class => "btn btn-primary" %>
            <%= link_to "Homebuying", "/homebuyings/new", :class => "btn btn-primary" %>
          </td>
          <td>
            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
          </td>
        <% else %>
          <td>
            <% step = 4 %>
            Thank you for submitting an application(s).
          </td>
          <td>
            <% @client.client_applications.each do |application| %>
              <%= link_to "#{application.class.to_s}", "/#{application.class.to_s.downcase}s/#{application.id}", :class => "btn btn-primary" %>
            <% end %>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
        <% end %>
      </tr>
      <% end %>

    <!-- STEP FOUR: CLIENT ASSIGNMENT -->
    <% if step == 4 %>
    <tr> 
      <td>
        Step 4
      </td>
      <% if !@client.has_user? %>
        <td>
          A LUCHA representative will review your information and contact you within <br>
          two business days to set-up and appointment and inform you of your next steps. <br>
          We look forward to working with you. 
        </td>
        <td>
        </td>
        <td>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        </td>
      <% else %>
        <td>
          You have been assigned to <br>
          <%= @client.user.first_name.capitalize %> <%= @client.user.last_name.capitalize %> <br>
          Email: <%= @client.user.email %> <br>
          Phone Number: <%= @client.user.work_phone %>
        </td>
        <td>
        </td>
        <td>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
      <% end %>
      <% end %>




    </tr>

    <% end %>
  </table>
  <hr>
</div>