<table class="table table-hover">	
	<tbody>
		<tr>
			<td><%= I18n.t "rental.bedrooms" %></td>
			<td class="text-right"><strong><%= @rental.bedrooms %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.wheelchair_accessible" %></td>
			<td class="text-right"><strong><%= @rental.wheelchair_accessible ? "Yes" : "No" %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.car_owner" %></td>
			<td class="text-right"><strong><%= @rental.car_owner ? "Yes" : "No" %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.pet_owner" %></td>
			<td class="text-right"><strong><%= @rental.pet_owner ? "Yes" : "No" %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.hear_of_property" %></td>
			<td class="text-right"><strong><%= @rental.hear_of_property %></strong></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><%= I18n.t "rental.reason_for_move" %></td>
			<td class="text-right"><strong><%= @rental.reason_for_move %></strong></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><%= I18n.t "rental.housing_situation" %></td>
			<td class="text-right"><strong><%= @rental.housing_situation %></strong></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><%= I18n.t "rental.employer_name" %></td>
			<td class="text-right"><strong><%= @rental.employer_name %></strong></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><%= I18n.t "rental.employer_address" %></td>
			<td class="text-right"><strong><%= @rental.employer_address %></strong></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><%= I18n.t "rental.employer_city" %></td>
			<td class="text-right"><strong><%= @rental.employer_city %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.employer_state" %></td>
			<td class="text-right"><strong><%= @rental.employer_state %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.employer_phone" %></td>
			<td class="text-right"><strong><%= number_to_phone(@rental.employer_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
		</tr>
		<tr>
			<td><%= I18n.t "rental.agree_to_fee" %></td>
			<td class="text-right"><strong><%= @rental.agree_to_fee ? "Yes" : "No" %></strong></td>
	</tbody>
</table>
