<h1>Rental Clients</h1>

<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
     <th >ID</th>
     <th class="col-md-5 col-xs-5">Name</th>
     <th class="col-md-3 col-xs-3">Home Phone</th>
     <th class="col-md-3 col-xs-3">Address</th>
     <th >View</th> 
   </tr>    
   <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
<% @rentals.each do |rental| %>
 <tbody>
   <tr>
     <td><%= rental.client.id %></td>
     <td><%= link_to(rental.client.full_name.titleize, client_path(rental.client.id)) %></td>
     <td><%= rental.client.home_phone %></td>
     <td><%= rental.client.address %>, <%= rental.client.city %>, <%= rental.client.state %></td>
     <td>
       <%= link_to "View", rental_path(rental.id), class: "btn btn-default" %>
     </td>
   </tr>
 </tbody>
<% end %>
</table>