<h1>Rental Clients
<br>
<small> 
  This is a list of all the rental applicants
</small></h1>
<hr>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search on this page">
</div>

<span class="counter pull-left"></span>
<table class="table table-hover results">
  <thead>
     <th>ID</th>
     <th>Name</th>
     <th>Home Phone</th>
     <th>Address</th>
     <th >View</th> 
   </tr>    
   <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
<% @rentals.each do |rental| %>
 <tbody>
   <tr>
     <td><%= rental.client.id %></td>
     <td><%= link_to(rental.client.full_name.titleize, client_path(rental.client.id)) %></td>
     <td><%= number_to_phone(rental.client.home_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></td>
     <td><%= rental.client.address %>, <%= rental.client.city %>, <%= rental.client.state %></td>
     <td>
       <%= link_to "View", rental_path(rental.id), :class => "btn btn-sm btn-primary"%>
     </td>
   </tr>
 </tbody>
<% end %>
</table>



<p>
  Download:
  <%= link_to "CSV", rentals_path(format: "csv") %> |
  <%= link_to "Excel", rentals_path(format: "xls") %>
  </div>
</p>