
		<div class="form-group"> 
			<%= label_tag :hear_of_workshop %>
			<%= text_field_tag :lender %>
		</div>

		<div class="form-group"> 
			<%= label_tag :contact_for_appointment %>
		</div>

		<div class="form-group"> 
			<%= label_tag :real_estate_contract %>
		</div>

		<div class="form-group"> 
			<%= label_tag :realtor_name %>
			<%= text_field_tag :realtor_name %>
		</div>

		<div class="form-group">  
			<%= label_tag :realtor_phone %>
			<%= telephone_field_tag :loan_officer_phone %>
		</div>

		<div class="form-group">
			<%= label_tag :lender %>
			<%= text_field_tag :lender %>
		</div>

		<div class="form-group"> 
			<%= label_tag :property_address %>
			<%= text_field_tag :property_address %>
		</div>

		<div class="form-group"> 
			<%= label_tag :property_city %>
			<%= text_field_tag :property_city, :placeholder => "Chicago" %>
		</div>


		<div class="form-group"> 
			<%= label_tag :property_state %>
			<%= select_tag(:property_state, options_for_select(us_states, "IL")) %>
		</div>

		<div class="form-group"> 
			<%= label_tag :loan_officer_name %>
			<%= text_field_tag :loan_officer_name %>
		</div>

		<div class="form-group"> 
			<%= label_tag :loan_officer_email %>
			<%= email_field_tag :loan_officer_email  %>
		</div>

		<div class="form-group"> 
			<%= label_tag :loan_officer_phone %>
			<%= telephone_field_tag :loan_officer_phone %>
		</div>

		<div class="form-group"> 
			<%= label_tag :payment_assistance_program %>
			<%= select_tag(:payment_assistance_program, options_for_select(down_payment_assistance_program, '')) %>
		</div>

		<div class="form-group">  
			<%= label_tag :approx_closing_date %>
			<%= date_field_tag :approx_closing_date %>
	 	</div>

    <div class="actions">
      <%= submit_tag "Update!", :class => 'btn btn-large btn-primary' %>
    </div>	
