<h1><%= I18n.t "employee_homebuying_index.homebuying_clients" %>
  <br>
  <small> 
    <%= I18n.t "employee_homebuying_index.homebuying_clients" %>
  </small>
</h1>
<hr>
<div class="form-group pull-right">
  <input type="text" class="search form-control" placeholder=<%= I18n.t "employee_homebuying_index.search_on_this_page" %>>
</div>
<span class="counter pull-left"></span>
<table class="table table-hover results">
  <thead>
    <tr>
      <th><%= I18n.t "employee_homebuying_index.name" %></th>
      <th><%= I18n.t "employee_homebuying_index.phone" %></th>
      <th><%= I18n.t "employee_homebuying_index.address" %></th>
      <th><%= I18n.t "employee_homebuying_index.contact_for_appointment" %></th>
      <th><%= I18n.t "employee_homebuying_index.realtors_name" %></th>
      <th><%= I18n.t "employee_homebuying_index.date_created" %></th>
      <th><%= I18n.t "employee_homebuying_index.view" %></th> 
    </tr>    
  <tr class="warning no-result">
    <td colspan="8">
      <i class="fa fa-warning"></i> <%= I18n.t "employee_homebuying_index.no_results" %>
    </td>
  </tr>
  </thead>
<% @homebuyings.each do |homebuying| %>
 <tbody>
   <tr>
     <td>
       <%= link_to(homebuying.client.full_name.titleize, client_path(homebuying.client.id)) %>
     </td>
     <td>
       <%= number_to_phone(homebuying.client.home_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %>
     </td>
     <td>
       <%= homebuying.client.address %>, <%= homebuying.client.city %>, <%= homebuying.client.state %>
     </td>
     <td>
        <% if homebuying.contact_for_appointment== false %>
          <%= I18n.t "employee_homebuying_index.contact_no" %>
        <% else %>
          <%= I18n.t "employee_homebuying_index.contact_yes" %>
        <% end %>
     </td>
     <td>
       <%= homebuying.realtor_name %>
     </td>
     <td>
       <%= homebuying.pretty_time %>
     </td>
     <td>
       <%= link_to I18n.t("employee_homebuying_index.view"), homebuying_path(homebuying.id), :class => "btn btn-sm btn-primary" %>
     </td>
   </tr>
 </tbody>
<% end %>
</table>
<hr>
<p>
  <%= I18n.t "employee_homebuying_index.download" %>
  <%= link_to "CSV", homebuyings_path(format: "csv") %> |
  <%= link_to "Excel", homebuyings_path(format: "xls") %>
  </div>
</p>