<h1><%= I18n.t "homebuying.counseling_application" %></h1>

<hr>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= I18n.t "homebuying.information_submitted_by" %> 
      <strong class="text-warning"><%= @homebuying.client.full_name %></strong> on
      <strong class="text-warning"><%= @homebuying.pretty_time %></strong>
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><%= I18n.t "homebuying.lender" %></td>
          <td class="text-right"><strong><%= @homebuying.lender %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.contact_for_appointment" %></td>
          <td class="text-right"><strong><%= @homebuying.contact_for_appointment ? "Yes" : "No" %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.real_estate_contract" %></td>
          <td class="text-right"><strong><%= @homebuying.real_estate_contract ? "Yes" : "No" %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.realtor_name" %></td>
          <td class="text-right"><strong><%= @homebuying.realtor_name %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.realtor_phone" %></td>
          <td class="text-right"><strong><%= number_to_phone(@homebuying.realtor_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.property_address" %></td>
          <td class="text-right"><strong><%= @homebuying.property_address %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.property_city" %></td>
          <td class="text-right"><strong><%= @homebuying.property_city %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.property_state" %></td>
          <td class="text-right"><strong><%= @homebuying.property_state %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.loan_officer_name" %></td>
          <td class="text-right"><strong><%= @homebuying.loan_officer_name %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.loan_officer_email" %></td>
          <td class="text-right"><strong><%= @homebuying.loan_officer_email %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.payment_assistance_program" %></td>
          <td class="text-right"><strong><%= number_to_phone(@homebuying.loan_officer_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.loan_officer_phone" %></td>
          <td class="text-right"><strong><%= @homebuying.payment_assistance_program %></strong></td>
        </tr>
        <tr>
          <td><%= I18n.t "homebuying.approximate_closing_date" %></td>
          <td class="text-right"><strong><%= @homebuying.approx_closing_date %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div>
  <%= link_to I18n.t("homebuying.edit_application"), "/homebuyings/#{@homebuying.id}/edit", :class => "btn btn-warning" %>
  <%= link_to I18n.t("homebuying.delete_application"), "/homebuyings/#{@homebuying.id}", method: :delete, data:{confirm: "Are you sure you want to delete this homebuying application?"}, :class => "btn btn-danger" %>
</div>