<h1>Homebuying Counseling Application</h1>

<hr>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      Homebuying Information submitted by 
      <strong class="text-warning"><%= @homebuying.client.full_name %></strong> on
      <strong class="text-warning"><%= @homebuying.pretty_time %></strong>
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Lender</td>
          <td class="text-right"><strong><%= @homebuying.lender %></strong></td>
        </tr>
        <tr>
          <td>Would you Like to be contacted for an appointment</td>
          <td class="text-right"><strong><%= @homebuying.contact_for_appointment ? "Yes" : "No" %></strong></td>
        </tr>
        <tr>
          <td>Have you signed a real estate contract yet?</td>
          <td class="text-right"><strong><%= @homebuying.real_estate_contract ? "Yes" : "No" %></strong></td>
        </tr>
        <tr>
          <td>What is your realtor's name?</td>
          <td class="text-right"><strong><%= @homebuying.realtor_name %></strong></td>
        </tr>
        <tr>
          <td>Realtor's phone number</td>
          <td class="text-right"><strong><%= number_to_phone(@homebuying.realtor_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
        </tr>
        <tr>
          <td>What is the address of the property you are looking to purchase?</td>
          <td class="text-right"><strong><%= @homebuying.property_address %></strong></td>
        </tr>
        <tr>
          <td>City</td>
          <td class="text-right"><strong><%= @homebuying.property_city %></strong></td>
        </tr>
        <tr>
          <td>State</td>
          <td class="text-right"><strong><%= @homebuying.property_state %></strong></td>
        </tr>
        <tr>
          <td>What is your loan officer's name?</td>
          <td class="text-right"><strong><%= @homebuying.loan_officer_name %></strong></td>
        </tr>
        <tr>
          <td>loan officer's email</td>
          <td class="text-right"><strong><%= @homebuying.loan_officer_email %></strong></td>
        </tr>
        <tr>
          <td>loan officer's phone number</td>
          <td class="text-right"><strong><%= number_to_phone(@homebuying.loan_officer_phone, pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></strong></td>
        </tr>
        <tr>
          <td>What kind of payment assistance program will you be using?</td>
          <td class="text-right"><strong><%= @homebuying.payment_assistance_program %></strong></td>
        </tr>
        <tr>
          <td>What is the approximate closing date? </td>
          <td class="text-right"><strong><%= @homebuying.approx_closing_date %></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div>
  <%= link_to "Edit Application", "/homebuyings/#{@homebuying.id}/edit", :class => "btn btn-warning" %>
  <%= link_to "Delete Application", "/homebuyings/#{@homebuying.id}", method: :delete, data:{confirm: "Are you sure you want to delete this homebuying application?"}, :class => "btn btn-danger" %>
</div>