<h1><%= I18n.t "foreclosure.update_your_foreclosure_case" %></h1>
<hr>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= I18n.t "foreclosure.foreclosure_information" %></h3>
  </div>
  <div class="panel-body">
    <%= form_tag "/foreclosures/#{@foreclosure.id}", method: :patch do %>
      <%= render "form" %>
    <hr>
    <div class="form-group">
      <%= submit_tag I18n.t("foreclosure.update"), :class => 'btn btn-large btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
