<h1>Update your foreclosure case:</h1>


<%= form_tag foreclosure_update_path, method: :patch do %>

   <div class="field">
    <%= label_tag :originating_lender %><br />
    <%=text_field_tag :originating_lender, @foreclosure.originating_lender %>
  </div>

  <div class="field">
    <%= label_tag :original_loan_number %><br />
    <%=text_field_tag :original_loan_number, @foreclosure.original_loan_number %>
  </div>

  <div class="field">
    <%= label_tag :servicer %><br />
    <%=text_field_tag :servicer, @foreclosure.servicer %>
  </div>

  <div class="field">
    <%= label_tag :servicer_loan_number %><br />
    <%=text_field_tag :servicer_loan_number, @foreclosure.servicer_loan_number %>
  </div>

  <div class="field">
    <%= label_tag :monthly_mortgage_payment %><br />
    <%=text_field_tag :monthly_mortgage_payment, @foreclosure.monthly_mortgage_payment %>
  </div>

  <div class="field">
    <%= label_tag :loan_term %><br />
    <%= text_field_tag :loan_term, @foreclosure.loan_term %>
  </div>

    <div class="field">
    <%= label_tag :been_to_court %><br />
    <%=text_field_tag :been_to_court, @foreclosure.been_to_court %>
  </div>

<% end %>


