<div class="well well-sm">
<table class="table table-hover">
 <thead>
   <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Home Phone</th>
     <th>Address</th>
     <th>View</th>
   </tr>
 </thead>
<% @foreclosures.each do |foreclosure| %>
 <tbody>
   <tr>
     <td><%= foreclosure.client.id %></td>
     <td>
       <%= link_to(foreclosure.client.full_name.titleize, client_path(foreclosure.client.id)) %>
      
     </td>
     <td><%= foreclosure.client.home_phone %></td>
     <td><%= foreclosure.client.address %>, <%= foreclosure.client.city %></td>
     <td>
       <%= link_to "View", foreclosure_path(foreclosure.id), class: "btn btn-default" %>
     </td>
   </tr>
 </tbody>
<% end %>
</table>




<p>
  Download:
  <%= link_to "CSV", foreclosures_path(format: "csv") %> |
  <%= link_to "Excel", foreclosures_path(format: "xls") %>
  </div>
</p>

