<h1>Foreclosure Clients 
<br><small> This is a list of all the forclosure applicants</small>
</h1>
<hr>

<div class="form-group pull-left">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-left"></span>
<table class="table table-hover results">
 <thead>
   <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Home Phone</th>
     <th>Address</th>
     <th>Date Submitted</th>
     <th>View</th>
   </tr>
  <tr class="warning no-result">
    <td colspan="6">
      <i class="fa fa-warning"></i> No results
    </td>
  </tr>
 </thead>
<% @foreclosures.each do |foreclosure| %>
 <tbody>
   <tr>
     <td><%= foreclosure.client.id %></td>
     <td>
       <%= link_to(foreclosure.client.full_name.titleize, client_path(foreclosure.client.id)) %>
     </td>
     <td><%= foreclosure.client.home_phone %></td>
     <td><%= foreclosure.client.address %>, <%= foreclosure.client.city %></td> 
     <td>
       <%= foreclosure.pretty_time %> 
     </td>
     <td>
       <%= link_to "View", foreclosure_path(foreclosure.id), class: "btn btn-default" %>
     </td>
   </tr>
 </tbody>
<% end %>
</table>

<hr>
<p>
  Download:
  <%= link_to "CSV", foreclosures_path(format: "csv") %> |
  <%= link_to "Excel", foreclosures_path(format: "xls") %>
  </div>
</p>