<h1>
  <%= I18n.t "foreclosure.title" %><br>
  <small><%= I18n.t "foreclosure.description" %></small>
</h1>

<hr>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Foreclosure Information</h3>
  </div>
  <div class="panel-body">
    <%= form_tag foreclosure_create_path, role: "form", method: :post do %>
      <%= render "form" %>
    <hr>
    <div class="form-group">
      <%= submit_tag I18n.t("foreclosure.update"), :class => 'btn btn-large btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
