<p><%= I18n.t "reset_password_instructions.hello" %><%= @resource.email %>!</p>

<p><%= I18n.t "reset_password_instructions.requested_change" %></p>

<p><%= link_to I18n.t("reset_password_instructions.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t "reset_password_instructions.please_ignore" %></p>
<p><%= I18n.t "reset_password_instructions.wont_change" %></p>
