 <li>
  <%=link_to 'Status', client_status_path(current_client.id), :class =>"pure-menu-link" %>
  </li>

  <li>
   <%= link_to 'Your info', client_path(current_client.id), :class =>"pure-menu-link" %> 
  </li>

  <li>
  	<%= link_to 'Your Budget', budget_path(current_client.budget.id), :class => "pure-menu-link"  %>
  </li>

  <li>
	  <% if current_client.foreclosure.blank? %>
	      <%= link_to 'Foreclosures', foreclosure_intake_path(current_client.id), :class =>"pure-menu-link" %>
	  <% else %>
	      <%= link_to 'View Foreclosure', foreclosure_path(current_client.foreclosure.id), :class =>"pure-menu-link" %>
	  <% end %>
  </li>

  <li>
	  <%  if current_client.homebuying.blank? %>
	      <%= link_to 'Homebuying Application', homebuying_intake_path(current_client.id), :class =>"pure-menu-link" %>
	  <% else %>
	  		<%= link_to 'View Homebuying App', homebuying_path(current_client.homebuying.id), :class =>"pure-menu-link"  %>
		<% end %>
  </li>
  <li>
		<%  if current_client.rental.blank? %>
	      <%= link_to 'Rental Application', rental_intake_path(current_client.id), :class =>"pure-menu-link" %>
	  <% else %>
	  		<%= link_to 'Rental Application', rental_path(current_client.rental.id), :class =>"pure-menu-link"  %>
		<% end %>
  </li>

  <li>
    <%= link_to('Logout', destroy_client_session_path, :class =>"pure-menu-link", :method => :delete) %>        
  </li>

