<nav class="topbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">LUCHA</a>
    </div>
    <div class="navbar-right" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <p class="navbar-text">Signed in as <a href="#" class="navbar-link"><%= current_user.first_name %></a></p>
        <%= link_to "Sign out", "/users/sign_out", method: :delete %>
      <% else %>
        <p class="navbar-text">Signed in as <a href="#" class="navbar-link"><%= current_client.first_name %></a></p>
        <p class="navbar-text"><%= link_to "Sign out", "/clients/sign_out", {class: "navbar-link", method: :delete} %></p>
      <% end %>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a href="/users/<%= current_user.id %>">Your Clients</a></li>
          <li><%= link_to 'Unassigned Clients', employee_index_path %></li>
          <li><%= link_to 'Foreclosures', foreclosures_path %></li>
          <li><%= link_to 'Home Buying', homebuyings_path %></li>
          <li><%= link_to 'Rentals', rentals_path %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <li><%= render "layouts/language" %></li>
        <% elsif client_signed_in? %>
          <li><%= link_to 'Application Status', client_status_path(current_client.id) %></li>
          <li><%= link_to 'Profile', client_path(current_client.id) %></li>
          <li><%= link_to 'Budget', budget_path(current_client.budget.id) %></li>
          <li>
            <% if current_client.foreclosure.blank? %>
                <%= link_to 'Foreclosures', "/foreclosures/new" %>
            <% else %>
                <%= link_to 'View Foreclosure App', foreclosure_path(current_client.foreclosure.id) %>
            <% end %>
          </li>
          <li>
            <%  if current_client.homebuying.blank? %>
                <%= link_to 'Homebuying Application', homebuying_intake_path(current_client.id) %>
            <% else %>
                <%= link_to 'View Homebuying App', homebuying_path(current_client.homebuying.id)  %>
            <% end %>
          </li>
          <li>
            <%  if current_client.rental.blank? %>
                <%= link_to 'Rental Application', rental_intake_path(current_client.id) %>
            <% else %>
                <%= link_to 'View  Rental App', rental_path(current_client.rental.id)  %>
            <% end %>
          </li>
        <% else %>
        <li><a href="/register" class="pure-menu-link">Client Registration</a></li>
        <li><a href="/users/sign_up" class="pure-menu-link">Users Registration</a></li>
        <li><%= link_to('Employee login', new_user_session_path) %>  </li>
        <li><%= link_to('Client login', new_client_session_path) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text"><%= render "layouts/language"   %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
