<nav class="topbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LUCHA</a>
    </div>
    <div class="navbar-right" id="bs-example-navbar-collapse-2">
      <% if user_signed_in? %>
        <span class="navbar-text"><%= I18n.t "navbar.signed_in_as" %><%= link_to current_user.first_name, user_path(id: current_user.id), :class => "user-name" %>
        <%= link_to "Sign out", "/users/sign_out", method: :delete, :class => "navbar-link signout-color" %></span>
      <% else %>
        <span class="navbar-text"><%= I18n.t "navbar.signed_in_as" %><%= link_to current_client.first_name, client_path(id: current_client.id), :class => "user-name" %>
        <%= link_to I18n.t("navbar.sign_out"), "/clients/sign_out", {class: "navbar-link signout-color", method: :delete} %></span>
      <% end %>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a href="/users/<%= current_user.id %>"><%= I18n.t "navbar.your_clients" %></a></li>
          <li><%= link_to I18n.t("navbar.registered_clients"), clients_path %></li>
          <li><%= link_to I18n.t("navbar.foreclosures"), foreclosures_path %></li>
          <li><%= link_to I18n.t("navbar.homebuyings"), homebuyings_path %></li>
          <li><%= link_to I18n.t("navbar.rentals"), rentals_path %></li>
          <% if current_user.admin %>
            <li><%= link_to I18n.t("navbar.registered_employees"), employee_index_path %></li>
          <% end %>
        <% elsif client_signed_in? %>
          <li><%= link_to I18n.t("navbar.application_status"), client_status_path(current_client.id) %></li>
          <li><%= link_to I18n.t("navbar.profile"), client_path(current_client.id) %></li>
          <li>
            <% if !current_client.incomplete_profile? %>
              <%= link_to I18n.t("navbar.budget"), budget_path(current_client.budget.id) %>
            <% end %>
          </li>
          <li>
            <% if !current_client.foreclosure.blank? %>
              <%= link_to I18n.t("navbar.your_foreclosure_application"), foreclosure_path(current_client.foreclosure.id) %>
            <% end %>
          </li>
          <li>
            <%  if !current_client.homebuying.blank? %>
              <%= link_to I18n.t("navbar.your_homebuying_application"), homebuying_path(current_client.homebuying.id) %>
            <% end %>
          </li>
          <li>
            <%  if !current_client.rental.blank? %>
              <%= link_to I18n.t("navbar.your_rental_application"), rental_path(current_client.rental.id) %>
            <% end %>
          </li>
        <% else %>
        <li><a href="/register" class="pure-menu-link"><%= I18n.t "navbar.client_registration" %></a></li>
        <li><a href="/users/sign_up" class="pure-menu-link"><%= I18n.t "navbar.user_registration" %></a></li>
        <li><%= link_to('Employee login', new_user_session_path) %>  </li>
        <li><%= link_to('Client login', new_client_session_path) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text"><%= render "layouts/language"   %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
