  <li class="pure-menu-item">
      <%= link_to 'Your caseload', clients_path, :class =>"pure-menu-link" %>
  </li>
  <li class="pure-menu-item">
     <%= link_to 'Foreclosures', foreclosures_path, :class =>"pure-menu-link" %>
  </li>
  <li class="pure-menu-item">
      <%= link_to 'Home Buying', homebuyings_path, :class =>"pure-menu-link" %>
  </li>
  <li class="pure-menu-item">
      <%= link_to 'Law Projects', law_projects_path, :class =>"pure-menu-link" %>
  </li>
  <li class="pure-menu-item">
      <%= link_to 'Rentals', rentals_path, :class =>"pure-menu-link" %>
  </li>
  <li class="pure-menu-item">
      <%= link_to('Logout', destroy_user_session_path, :class =>"pure-menu-link", :method => :delete) %>        
  </li>
  <li class="pure-menu-item"><%= form_tag "/search", class: "navbar-form navbar-right" do %>
  <%= text_field_tag :search, nil, placeholder: "Search Clients" %>
                    <%= submit_tag "Go" %>
  </li>
	<% end %>