<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>LUCHA CMS</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>

<div id="layout">
    <div class="row">
        <div class="col-sm-2">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <span class="visible-xs navbar-brand">Menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="<%= root_path %>">LUCHA</a></li>
                        <% if user_signed_in? %>
                            <%= render "layouts/user_option" %>
                        <% elsif client_signed_in? %>
                            <%= render "layouts/client_options" %>
                        <% else %>
                        <li><a href="/register" class="pure-menu-link">Client Registration</a></li>
                        <li><a href="/users/sign_up" class="pure-menu-link">Users Registration</a></li>
                        <li><%= link_to('Employee login', new_user_session_path) %>  </li>
                        <li><%= link_to('Client login', new_client_session_path) %></li>
                        <% end %>
                    </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div id="main">
                <div class="content">
                    <%= render "layouts/alerts" %>
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
